<div class="title">
    <div class="titletxt">
        Battle API
    </div>
    <div class="subtxt">
        A read-only API for cataloging battle rap stuff.
    </div>
</div>

<div class="box">
    <p>Endpoints</p>
</div>

<!--battler-->

<div class="box"><p>GET: /battler/:artist/:league</p></div>
<p>
    <div class="color">Description:</div>
    Returns information for an artist based on league.
</p>
<p>
    <div class="color">Data:</div>
    {"battles": [{"video_id", "likes", "dislikes", "comments", "views",
    "description", "partners": [...], "published", "opponents":
    [...]}, ...], "info": {...}, "leagues": [...]}
</p>
<p>
    <div class="color">Example:</div>
    https://battleapi.herokuapp.com/battler/loaded%20lux/all
</p>

<!--battlers-->

<div class="box"><p>GET: /battlers/:league</p></div>
<p>
    <div class="color">Description:</div>
    Returns list of artists for a specific league.
</p>
<p>
    <div class="color">Data:</div>
    [{"battler", "battle_count", "views", "comments", "likes",
    "dislikes", "comments_per_battle", "views_per_battle",
    "likes_percentage", "view_percentage", "recent"}, ...]
</p>
<p>
    <div class="color">Example:</div>
    https://battleapi.herokuapp.com/battlers/theurltv
</p>

<!--battle-->

<div class="box"><p>GET: /battle/:id</p></div>
<p>
    <div class="color">Description:</div>
    Returns information for a battle based on its YouTube ID.
</p>
<p>
    <div class="color">Data:</div>
    {"info": {"video_id", "battlers", "views", "likes", "dislikes",
    "description", "published", "channel", "likes_percentage"}},
    "historical": [{...}, ...]}
</p>
<p>
    <div class="color">Example:</div>
    https://battleapi.herokuapp.com/battle/6sJIvDq4UnQ
</p>

<!--battles-->

<div class="box"><p>GET: /battles/:league</p></div>
<p>
    <div class="color">Description:</div>
    Returns battles for a league.
</p>
<p>
    <div class="color">Data:</div>
    [{"title", "views", "likes", "dislikes", "comments", "channel",
    "published", "description"}, ...]
</p>
<p>
    <div class="color">Example:</div>
    https://battleapi.herokuapp.com/battles/dontflop
</p>

<!--leagues-->

<div class="box"><p>GET: /leagues</p></div>
<p>
    <div class="color">Description:</div>
    Returns league information.
</p>
<p>
    <div class="color">Data:</div>
    [{"short", "league", "views", "channel"}, ...]
</p>
<p>
    <div class="color">Example:</div>
    https://battleapi.herokuapp.com/leagues
</p>

<!--support-->

<div class="box"><p>Support</p></div>
<p>
    If you appreciate this service, please consider supporting the
    artists and leagues by purchasing their event streams.
</p>

<div class="footer">
    Battle API
</div>
