<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Battle API</title>
    <style>
        hr
        {
            background-color: #000000;
            border: 0 none;
            height: .5px;
        }

        body
        {
            font-family: "Lucida Console", Monaco, monospace;
            background-color: #fbfbfb;
        }

        .body
        {
            margin: 0 auto;
            max-width: 800px;
        }

        .box-w
        {
            border-style: solid;
            border-color: #cccccc;
            border-width: 0px;
            padding: 15px;
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: 15px;
            text-align: left;
            background-color: #fefefe;
            color: #000000;
        }

        .title
        {
            border-style: solid;
            border-color: #cccccc;
            border-width: 2px;
            padding: 50px;
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: 40px;
            text-align: center;
            background-color: #fefefes;
        }

        .footer
        {
            border-style: solid;
            border-color: #cccccc;
            border-width: 2px;
            padding: 20px;
            margin-top: 15px;
            margin-bottom: 15px;
            text-align: center;
            background-color: #fefefes;
        }

        .box
        {
            font-weight: bold;
            border-style: solid;
            border-color: #cccccc;
            border-width: .5px;
            background-color: #f2f2f2;
            padding-left: 10px;
            margin-bottom: 10px;
        }

        .desc
        {
            border-style: solid;
            border-color: #cccccc;
            border-width: .5px;
            background-color: #fefefe;
            padding: 10px;
            margin-bottom: 10px;
        }

        .color
        {
            color: #14489b;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="body">
        <div class="title">
            Battle API
        </div>

        <!--What is this-->

        <div class="box"><p>What is this?</p></div>
        <p>
            A read-only API for cataloging battle stuff.
        </p>

        <div class="box"><p>Endpoints</p></div>

        <!--battler-->

        <div class="box"><p>GET: /battler/:artist/:league</p></div>
        <p>
            <div class="color">Description:</div>
            Returns information for a given artist based on the
            league parameter.
        </p>
        <p>
            <div class="color">Data:</div>
            {"battles": [{"video_id", "likes", "dislikes", "comments", "views",
            "description", "partners": [...], "published", "opponents":
            [...]}, ...], "info": {...}, "leagues": [...]}
        </p>
        <p>
            <div class="color">Example:</div>
            https://battleapi.herokuapp.com/battler/loaded%20lux/all
        </p>

        <!--battlers-->

        <div class="box"><p>GET: /battlers/:league</p></div>
        <p>
            <div class="color">Description:</div>
            Returns list of artists for a specific league.
        </p>
        <p>
            <div class="color">Data:</div>
            [{"battler", "battle_count", "views", "comments", "likes",
            "dislikes", "comments_per_battle", "views_per_battle",
            "likes_percentage", "view_percentage", "recent"}, ...]
        </p>
        <p>
            <div class="color">Example:</div>
            https://battleapi.herokuapp.com/battlers/theurltv
        </p>

        <!--battle-->

        <div class="box"><p>GET: /battle/:id</p></div>
        <p>
            <div class="color">Description:</div>
            Returns information for a battle based on its YouTube ID.
        </p>
        <p>
            <div class="color">Data:</div>
            {"info": {"video_id", "battlers", "views", "likes", "dislikes",
            "description", "published", "channel", "likes_percentage"}},
            "historical": [{...}, ...]}
        </p>
        <p>
            <div class="color">Example:</div>
            https://battleapi.herokuapp.com/battle/6sJIvDq4UnQ
        </p>

        <!--battles-->

        <div class="box"><p>GET: /battles/:league</p></div>
        <p>
            <div class="color">Description:</div>
            Returns battles for a league.
        </p>
        <p>
            <div class="color">Data:</div>
            [{"battler", "battle_count", "views", "comments", "likes",
            "dislikes", "comments_per_battle", "views_per_battle",
            "likes_percentage", "view_percentage", "recent"}, ...]
        </p>
        <p>
            <div class="color">Example:</div>
            https://battleapi.herokuapp.com/battles/dontflop
        </p>

        <!--leagues-->

        <div class="box"><p>GET: /leagues</p></div>
        <p>
            <div class="color">Description:</div>
            Returns league information.
        </p>
        <p>
            <div class="color">Data:</div>
            [{"short", "league", "views", "channel"}, ...]
        </p>
        <p>
            <div class="color">Example:</div>
            https://battleapi.herokuapp.com/leagues
        </p>
        <div class="footer">
            Battle API
        </div>
    </div>
</body>
</html>
