<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Battle API</title>
    <style>
        hr
        {
            background-color: #000000;
            border: 0 none;
            height: .5px;
        }

        body
        {
            color: #e0e0e0;
            font-family: Verdana, Geneva, sans-serif;
            background-color: #343438;
        }

        .body
        {
            margin: 0 auto;
            max-width: 800px;
        }

        .box-w
        {
            border-style: solid;
            border-color: #000000;
            border-width: 1px;
            padding: 15px;
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: 15px;
            text-align: left;
        }

        .title
        {
            border-style: solid;
            border-color: #000000;
            border-width: 1px;
            padding: 60px;
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: 40px;
            text-align: center;
            background-color: #4a4a4c;
        }
    </style>
</head>
<body>
    <div class="body">
        <div class="title">
            Battle API
        </div>
        <div class="box-w">

        </div>
    </div>
</body>
</html>
